html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  min-height: 100%;
}
body {
  line-height: 1;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  min-height: 100%;
 }
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
.content{
 text-align: center;

}
a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }*/
h1{
    font-size: 30px;
    margin: 10px;

}
.masthead h1{
   padding: 20px;
    color: #fff;
}
select {

    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-color: #428bca;
    color: #428bca;
    padding-left: 15px;
    margin: 20px 0;
    font-size: 15px;
   }
input[type='submit'] {
    background-color: #428bca;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
    border-color: #428bca;
    margin: 20px 0;

}
tr, td{
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    border-color: #428bca;
}

 .clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
} 

.paginat{
    margin: 30px;
}

.blog-nav .active {
    color: #fff;
}
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-weight: 500;
    color: #cdddeb;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.masthead {
    background-color: #428bca;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-description {
    font-size: 20px;
    color: #999;
}

.box {
    overflow: hidden;
    height: 200px;
    width: 300px;
    line-height: 25px;
}

.box:before {
    content: "";
    float: left;
    width: 5px;
    height: 200px;
}

.box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;

}
h1{
    font-style: italic;
}
.word{
    font-style: italic;
    color: #428bca;
}
.btn-group button{
    width: 250px;
    height: 50px;
    margin: 30px 0;
    background-color: #428bca;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    color: #fff;
}
p.date{
    margin-top: 20px;
   font-style: italic;
    color: #428bca;
}
 
